<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Busqueda de Jugador</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js" >
		</script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container-fluid">
    		<div class ="row clearfix">
    			<h1 class ="btn btn-primary btn-md center-block">Busquedas</h1>
    			<form th:action="@{/player/buscar}" method="post" th:object="${player}">
    				<div class="form-group">
    					<div class="col-sm-12">
    					<input type="text" class="form-control" th:field="*{namePlayer}" id="nombre" 
    					placeholder="Ingrese los datos del jugador que desea buscar:  ">
    					</input>
    					<div class="text-center">
    					<button type="submit" class="btn btn-danger">Buscar</button>
    					<a href="/player/listar" class="btn btn-dark">Cancelar</a>
    					</div>
    					
    					</div>
    				</div>
    			</form>
    		</div>

    	
    	<hr class="sidebar-divider">
    		<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">JUGADOR</th>
    								<th class="text-center">FECHA NACIMIENTO</th>
    								<th class="text-center">VALORACION</th>
    								<th class="text-center">PAIS</th>
    								<th class="text-center">HABILIDAD</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="pla: ${listaJugadores}">
    								<td th:text="${pla.idPlayer}"></td>
    								<td th:text="${pla.namePlayer}"></td>
    								<td th:text="${pla.birthPlayer}"></td>
    								<td th:text="${pla.assessmentPlayer}"></td>
    								<td th:text="${pla.countryPlayer}"></td>
    								<td th:text="${pla.abilityPlayer}"></td>
    								<td><a th:href="@{/player/eliminar?id=}+${pla.idPlayer}">Eliminar</a></td>    								
    								<td><a th:href="@{'/player/modificar/'}+${pla.idPlayer}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table>  
    	<p th:text="${mensaje}" class="form-text tex-dark"></p>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>