<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Torneos</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<link href="../../../estilos.css" rel="stylesheet">
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    			<div class="row clearfix">
    				<div>
    					<div>									
    						<figure4>
    							<div>
    								<img th:src="@{/imagenes/copa.jpg}" width="450" height="350" ></img>
    							</div>
    						</figure4>
    						
    						<figure5>
    							<div>
    								<img th:src="@{/imagenes/buscar_torneo.jpg}" width="450" height="350"></img>
    							</div>
    						</figure5>
    							
    					</div>
    							
    					<div class="containert">
    						<button class="btn-1-t"><a th:href="@{/tournament/irRegistrar}" id="btn-left">Crear Torneo</button>
    						<button class="btn-2-t"><a th:href="@{/tournament/irBuscar}" id="btn-right">Buscar Torneo</button>
    					</div>
    				</div>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">NOMBRE</th>
    								<th class="text-center">CANT. JUGADORES</th>
    								<th class="text-center">VALORACION</th>
    								<th class="text-center">FECHA INICIO</th>
    								<th class="text-center">DESCRIPCION</th>
    								<th class="text-center">NOMBRE EQUIPO</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>

    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="tor: ${listaTorneos}">
    								<td th:text="${tor.idTournament}"></td>
    								<td th:text="${tor.nameTournament}"></td>
    								<td th:text="${tor.playersTournament}"></td>
    								<td th:text="${tor.assessmentTournament}"></td>
    								<td th:text="${#dates.format(tor.startDateTournament,'dd/MM/yyyy')}"></td>
    								<td th:text="${tor.descriptionTournament}"></td>
    								<td th:text="${tor.team.nameTeam}"></td>
    								<td><a th:href="@{/tournament/eliminar?id=}+${tor.idTournament}">Eliminar</a></td>    								
    								<td><a th:href="@{'/tournament/modificar/'}+${tor.idTournament}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>