<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Jugadores</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					<div class="text-center">
    					<a 	style="border-bottom-color: green" th:href="@{/player/irRegistrar}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> Jugador
    					</a>
    					
						<a 	style="border-bottom-color: green" th:href="@{/player/irBuscar}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					</div>
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">JUGADOR</th>
    								<th class="text-center">EDAD</th>
    								<th class="text-center">VALORACION</th>
    								<th class="text-center">PAIS</th>
    								<th class="text-center">POSICION</th>
    								<th class="text-center">HABILIDAD</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="pla: ${listaJugadores}">
    								<td th:text="${pla.idPlayer}"></td>
    								<td th:text="${pla.namePlayer}"></td>
    								<td th:text="${pla.agePlayer}"></td>
    								<td th:text="${pla.assessmentPlayer}"></td>
    								<td th:text="${pla.countryPlayer}"></td>
    								<td th:text="${pla.position.namePosition}"></td>
    								<td th:text="${pla.abilityPlayer}"></td>
    								<td><a th:href="@{/player/eliminar?id=}+${pla.idPlayer}">Eliminar</a></td>    								
    								<td><a th:href="@{'/player/modificar/'}+${pla.idPlayer}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>