<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Historial de Ventas</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<link href="../../../estilos.css" rel="stylesheet">
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    			<div class="row clearfix">
    				
    				<div>
    					<div>									
    						<figure6>
    							<div>
    								<img th:src="@{/imagenes/venta.png}" width="450" height="350" ></img>
    							</div>
    						</figure6>
    						
    						<figure7>
    							<div>
    								<img th:src="@{/imagenes/compra.png}" width="450" height="350"></img>
    							</div>
    						</figure7>
    							
    					</div>
    							
    					<div class="containerm">
    						<button class="btn-1-m"><a th:href="@{/sell/irRegistrar}" id="btn-left">Vender Jugador</button>
    						<button class="btn-2-m"><a th:href="@{/sell/irBuscar}" id="btn-right">Comprar Jugador</button>
    					</div>
    				</div>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">PRECIO</th>
    								<th class="text-center">ESTADO</th>
    								<th class="text-center">JUGADOR</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="se: ${listaVentas}">
    								<td th:text="${se.idSell}"></td>
    								<td th:text="${se.priceSell}"></td>
    								<td th:text="${se.stateSell}"></td>
    								<td th:text="${se.player.namePlayer}"></td>
    								<td><a th:href="@{/sell/eliminar?id=}+${se.idSell}">Cancelar</a></td>    								
    								<td><a th:href="@{'/sell/modificar/'}+${se.idSell}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>