<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Market</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<link href="../../../estilos.css" rel="stylesheet">
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    			<div class="row clearfix">
    				
    				<div>
    					<div>									
    						<figure6>
    							<div>
    								<img th:src="@{/imagenes/venta.png}" width="450" height="350" ></img>
    							</div>
    						</figure6>
    						
    						
    							
    					</div>
    							
    					<div class="containerm">
    						<button class="btn-1-m"><a th:href="@{/sell/listar}" id="btn-left">Historial de Venta</button>
    						
    					</div>
    				</div>
    							
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>