<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Jugadores</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/player/registrar}" method="post" th:object="${player}">
    			<div class="form-group">
    			
    				<div class="form-group col-md-9">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{namePlayer}" id="nombre" placeholder="Ingrese el nombre del jugador"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('namePlayer')}" 
								th:errors="*{namePlayer}">
						</div>
    				</div>
    				
    				<div class="form-group col-md-3">
    				<label for="idPlayer">ID:</label>
    				<input type="text" class="form-control" th:field="*{idPlayer}"></input>
    				</div>
    				
    				<div class="form-group">
    					<label for="habilidad">HABILIDAD :</label>
    					<input type="text" class="form-control" th:field="*{abilityPlayer}" id="habilidad" placeholder="Ingrese el tipo de habilidad del jugador"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('abilityPlayer')}" 
								th:errors="*{abilityPlayer}">
						</div>
    				</div>
    				

    				<div class="form-group row">
							<label for="fecha" class="col-sm-6 col-form-label">FECHA NACIMIENTO : </label>
							<div class="col-sm-12">
								<input type="date" th:field="*{birthPlayer}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('birthPlayer')}" th:errors="*{birthPlayer}"></small>
							</div>
						</div>
    				
    				<div class="form-group col-md-4">
    					<label for="valoracion">VALORACION :</label>
    					<input type="text" class="form-control" th:field="*{assessmentPlayer}" id="valoracion" placeholder="Ingrese la valoracion del jugador"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('assessmentPlayer')}" 
								th:errors="*{assessmentPlayer}">
						</div>
    				</div>
    				
    				<div class="form-group col-md-4">
    					<label for="pais">PAIS :</label>
    					<input type="text" class="form-control" th:field="*{countryPlayer}" id="pais" placeholder="Ingrese el pais del jugador"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('countryPlayer')}" 
								th:errors="*{countryPlayer}">
						</div>
    				</div>
    				
    				<div class="form-group">
    					<label for="posicion">POSICION:</label>
    					<select class="form-control" th:field="*{position.idPosition}">
    					<option th:each="p:${listaPosiciones}"
    							th:value="${p.idPosition}"	
    							th:text="${p.namePosition}"
    							th:selected="(${p.idPosition} == *{position.idPosition})"> 	    							
    					</option>
    					</select>
    				</div>
    				
    			</div>
    			<div class="text-center">
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/player/listar" class="btn btn-danger">Cancelar</a>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>